/* STYLING FOR GALLERY & FILTER HEADER */
/* STYLING FOR SPECIFIC COMPONENTS CAN BE FOUND IN RELATED COMPONENT FOLDERS */

.filter-bg {
  background-image: image-set('https://firebasestorage.googleapis.com/v0/b/happy-little-galaxies.appspot.com/o/starry-night-sky.jpg?alt=media&token=80ba548a-d851-43f7-b611-9faf2925b692');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; /* Ensure it covers the full height */
}

/* #region GALLERY */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.gallery .card {
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: rgba(74, 90, 127, 0.687);
  border-radius: 5px;
}

.gallery .card-content p {
  font-family: 'Raleway', sans-serif;
}

.gallery .card-image {
  border: 10px solid #5F2E1F;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.gallery .card p {
  margin-bottom: 1rem;
}

/* #endregion */

/* #region FILTER HEADER */

.filter-header {
  background-color: rgba(158, 87, 157, 0.5);
  border-radius: 5px;
}

.filter-header h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  margin: 1.2rem 0 1.2rem 0 !important;
}

/* #endregion */

/* #region PAGINATION */

.pagination li.active {
  background-color: #E4CCFF; /* Set your desired background color */
}

.pagination li.active a {
  color: #574B90; /* Set the text color for the link inside the active element */
}

.pagination li a {
  color: #E4CCFF; /* Set the text color for the other pagination links */
}

.pagination {
  margin: 0;
  padding: 1rem 0 1rem 0;
}

/* #endregion */
