/* Styling for filter section */
/* Super basic styling for testing */

.filter-bg {
  background-image: image-set('https://firebasestorage.googleapis.com/v0/b/happy-little-galaxies.appspot.com/o/starry-night-sky.jpg?alt=media&token=80ba548a-d851-43f7-b611-9faf2925b692');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

/* The gallery background image needs to be behind the filter-container color*/

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  .gallery div {
    background-color: #9E579D;
    opacity: calc(100% - 50%);
    padding: 1rem;
    border-radius: 5px;
  }
}

.gallery .card {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.gallery .card h3 {
  margin-bottom: 1rem;
}

.gallery .card p {
  margin-bottom: 1rem;
}

.gallery .card .subject {
  margin-bottom: 1rem;
}

.gallery .card .color {
  margin-bottom: 1rem;
}

.filter-header {
  background-color: #9E579D;
  opacity: calc(100% - 50%);
  padding: 1rem;
  border-radius: 5px;
}

.filter-container h2 {
  margin-bottom: 1rem;
}

.filter-container p {
  margin-bottom: 1rem;
}

.filter-container label {
  margin-right: 0.5rem;
  font-weight: bold;
}

.filter-container select {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-container .filter {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.subject-filter,
.color-filter {
  margin-bottom: 1rem;
}

.subject-filter select,
.color-filter select {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.subject-filter label,
.color-filter label {
  margin-right: 0.5rem;
  font-weight: bold;
}

/* Apply some basic responsive spacing */
@media (min-width: 768px) {
  .subject-filter,
  .color-filter {
    display: inline-block;
    margin-right: 1rem;
  }
}
