/* Color Style Sheet */

.color-filter {
    margin-bottom: 1rem;
}

.color-filter select {
    padding: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.color-filter label {
    margin-right: 0.5rem;
    font-weight: bold;
    color: white;
}

/* Apply some basic responsive spacing */
@media (min-width: 768px) {

    .color-filter {
        display: inline-block;
        margin-right: 1rem;
    }
}

/* Color Swatches */
.color-swatches {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc(6 * (30px + 4px)); /* 6 swatches, 30px width each, 4px for margin */
    margin-bottom: 1rem; /* Add some space below the swatches */
    /* max-width: 500px; */
}

.color-swatch {
    margin: 2px; /* Adjust margin as needed */
    flex: 0 0 30px; /* Do not grow or shrink, set basis to 30px */
    cursor: pointer;
}

button.color-swatch {
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
}
