/* FILTER BUTTON STYLESHEET */

.control-bg {
  background-color: rgba(74, 90, 127, 0.5);
  border-radius: 5px;
  padding: 1rem 0; /* 1rem padding at the top and bottom */
}

.filter-controls {
  display: flex;
  justify-content: space-around;
  padding: 0.7rem;
}

.filter-controls button {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  border-radius: 14px;
}

/* Default font size for larger screens */
.apply-button, .clear-button {
  font-size: 16px; /* Adjust to your default size */
  overflow: hidden; /* Assuming you still want to use this */
}

/* Override styles for smaller screens */
@media screen and (max-width: 768px) { /* Adjust this breakpoint to where you see the issue starting */
  .filter-controls button {
    font-size: 0.9rem; /* Smaller font size for smaller screens */
    padding: 10px 16px; /* Reduced padding */
    margin: 0 5px; /* Ensure buttons don't touch */
  }
}
